* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
}

.page {
  font-size: 2em;
  position: relative;
  width: 35%;
  transition: width 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}
#p1 {
  flex-grow: 1;
}
h1 {
  text-shadow: 2px 2px 5px #000;
}

.page:hover {
  width: 65%;
}
.page img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.page button:hover {
  background-color: #fff;
  color: #5b5f5b;
}
.page button {
  letter-spacing: 1px;
  border-radius: 8px;
  background-color: transparent;
  padding: 0.5em 1.2em;
  font-size: 1.2em;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
}
