*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
}
h1{
    text-align: center;
}

main{
    padding:2rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    /* overflow: scroll; */

}
.card{
    position: relative;
}
.card label{
    opacity: 0;
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 10;
    color: #fff;
    background-color:rgba(24, 23, 23, 0.712);
    font-size:2em;
    padding:0.2em 0.8em;
    border-radius: 1em;
    font-weight: 700;
    transition: all 0.5s ease-in;
}

.card img{
    width: 80px;
    height: 400px;
    object-fit: cover;
    transition: width 1s ease-in;
    border-radius: 15px;

}

.expanded img{
    width: 600px!important;
    height: 400px!important;
}
.expanded label{
    opacity: 1;
}